* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;

}

#pagina-home {
    background: linear-gradient(rgba(44, 40, 40, 0.514),rgba(48, 42, 42, 0.5)), url(imagens/fundo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo{
    width: 150px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-principal ul {
    list-style: none;
}

.menu-principal ul li {
    display: inline-block;
}

.menu-principal ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.menu-principal ul li a:hover {
    background: rgb(255, 255, 255);
    color: black;
}

.menu-principal ul li .link-ativo {
    background: rgb(255, 255, 255);
    color: black;
}
h1{
    font-size: 70px;
    color: #ffffff;
    margin-bottom: 30px;
}
.bnt{
    border: 1px solid #ffffff;
    padding: 10px 80px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.6s ease;
    margin-left: 10px;
}
.bnt:hover{
    background: #ffffff;
    color: #000000;
}
#pagina-home main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
